main{
    width: 940px;  
    margin: auto;
 }
 
 form {
     margin: 40px 0;
 }

 form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
 }

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;

}