main{
    width: 940px;  
    margin: auto;    
}
 
 form {
     margin: 40px 0;
}

 form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;

}

.bnt-send {
    width: 40%; /*aumentar a largura do botão*/
    padding: 15px 0; /*espaçamento interno para cima e para baixo*/
    background: orange;
    color: white; /*mudar a cor do texto dentro do botão*/
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    /*transition: 1s background; para transição durar 1s no BACGROUND*/
    transition: 1s all; /*a transição será para toda caixa*/
    cursor: pointer; /*mudar a seta para a maozinha quando o mouse estiver por cima*/
}

.bnt-send:hover {
    background: darkorange;
    transform: scale(1.2); /*aumentar o tamanho em 20%(1.2)*/
    /*transform: rotate(50deg);  /*inclinar o botão em 5 graus*/
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

tr, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}


