.banner {
    width: 100%;
}

main{
    width: 940px;  
    margin: auto;
 }

.title-prin {
    text-align: center;
    font-size: 2em; /*2em significa que o tamanho vai ser duas vezes maior que o texto base*/
    margin: 0 0 1em; /*espaçamento proporcional a fonte (cima-baixo)*/
    clear: left; /*Limpa o float*/
}

.main-container-about p {
    margin: 0 0 1em;
}

.main-container-about strong {
    font-weight: bold;
}

.main-container-about em {
    font-style: italic;
}

.benefits-img {
    width: 60%;
}

.img-utensilios {
    width: 150px;
    float: left;
    margin: 0 20px 20px 0;
}