header{
    background: #BBBBBB;
    padding: 10px 0 0;
}

.header-container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    margin: 0 0 0 15px;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
}

nav a:hover li {
    font-size: 25px;
}


footer {
    text-align: center;
    background: url(img/bg.jpg);

    padding: 40px 0;
}

footer p {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

